.container{
 width: 100px;

}


.container:hover div{

  transform: translate(450px);
}

  .a {
  width: 50px;
  height: 50px;
  background: paleturquoise;
  border-radius: 50%;
  transition: all 1.5s linear;
}

.b{
  width: 50px;
  height: 50px;
  background: salmon;
  border-radius: 50%;
  transition: all 1.5s ease;
  
}
.c{
  width: 50px;
  height: 50px;
  background: lightskyblue;
  border-radius: 50%;
  transition: all 1.5s ease-in;
}
.d{
  width: 50px;
  height: 50px;
  background: khaki;
  border-radius: 50%;
  transition: all 1.5s ease-out;
  
}
.e{
  width: 50px;
  height: 50px;
  background: mediumturquoise;
  border-radius: 50%;
  transition: all 1.5s ease-in-out;
  
}
.f{
  width: 50px;
  height: 50px;
  background: thistle;
  border-radius: 50%;
  transition: all 1.5s cubic-bezier(0,1,.98,0); 
  
}




h1{
  color: tomato;
  text-align: center;
  font-size: 100px;
  font-weight: 700;

}
